 /* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


 .btn-secondary,
 .btn-secondary:hover,
 .btn-secondary:focus {
     color: #333;
     text-shadow: none;
 }
 .btn-secondary:hover {
     border: none;
     background-color: #333 !important;
     color: #fff;
 }
 .container {
     min-width: 80%;
 }
 header{
     min-height: 25% !important;
 }
 main{
     min-height: 60% !important;
 }
 footer{
     min-height: 15% !important;
 }
h1 {
    font-family: 'Irish Grover', cursive;
}
.author{
    font-family: 'Irish Grover', cursive;
    float:right;
}
.light{
      animation: blink 12s infinite;
}
 /*Header*/
 .nav-link,
 .btn-link {
     padding: .25rem 0;
     font-weight: 700;
     color: rgba(255, 255, 255, .5);
     background-color: transparent;
     border-bottom: .25rem solid transparent;
 }

 .nav-link:hover,
 .btn-link:hover,
.nav-link:focus,
 .btn-link:focus {
     border-bottom-color: rgba(255, 255, 255, .25);
 }

 .btn-link:hover,
 .btn-link:focus,
 .btn-link {
     color: rgb(141, 141, 141);
     box-shadow: none;
 }

 .nav-link+.nav-link,
 .btn-link {
     margin-left: 1rem;
 }
 i{
     font-size: 25px;
 }
.bgnoise{
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url(../img/noise-transparent.png) repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}
@keyframes bg-animation {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -5%)
  }

  20% {
    transform: translate(-10%, 5%)
  }

  30% {
    transform: translate(5%, -10%)
  }

  40% {
    transform: translate(-5%, 15%)
  }

  50% {
    transform: translate(-10%, 5%)
  }

  60% {
    transform: translate(15%, 0)
  }

  70% {
    transform: translate(0, 10%)
  }

  80% {
    transform: translate(-15%, 0)
  }

  90% {
    transform: translate(10%, 5%)
  }

  100% {
    transform: translate(5%, 0)
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
